h1{
color:blue;
text-align:center;
}
.bd{
background-color:white;
box-shadow:2px 2px 2px 2px grey;
padding:10px;
}
.search-box input{
background-color:white;
border-radius:75px;
padding:10px;
width:100%;
border:none;
box-shadow:2px 2px 2px 2px grey;
}
.ad{
position:absolute;
right:0px;
top:0px;
padding:10px;
border-radius:75px;
background-color:blue;
width:25%;
border:none;
color:white;
}
.search-box{
position:relative;
width:350px;
}
.tasks{
background-color:white;
margin:0px;
padding:10px;
margin:10px;
}

ul{
list-style:none;
padding:0px;
}
li{
font-size:2rem;
margin:10px 0px;
font-family: 'Great Vibes', cursive;
}

.tasks button{
float:right;
margin-left:5px;
}

.but1{
color:white;
border-radius:5px;
padding:10px;
background-color:blue;
border:none;
}
.but2{
color:white;
border-radius:5px;
padding:10px;
background-color:red;
border:none;
}
.complete{
color:white;
border-radius:5px;
padding:10px;
background-color:green;
border:none;
}
.done{
text-decoration:line-through;
color:gray;
}

.savebtn{
color:black;
background:rgba(255,255,255,0.3);
padding:10px;
float:right;
border-radius:75px;
}
