.header{
background-color:white;
border-radius:5px;
color:blue;
font-size:3rem;
box-shadow:2px 2px 2px 2px grey;
text-align:center;
margin:0% 25%;
}
body{
background-image:url("C:\\Users\\ramya\\Desktop\\c1.avif");
background-attachment:fixed;
background-repeat:no-repeat;
background-size:cover;
}
.b1{
background:linear-gradient(to right,green,lime,yellow);
border-radius:50px;
padding:5px;
border:none;
font-size:3rem;
width:25%;
color:white;
margin:5px;
}

.b2{
background:linear-gradient(to right,red,orange);
border-radius:50px;
padding:5px;
border:none;
font-size:3rem;
width:15%;
color:white;
margin:5px;
}

.b3{
background: rgba(255,255,255,0.3);
border-radius:75px;
padding:10px;
font-size:2rem;
border:none;
color:white;
margin:5px;
}

.b4{
background:none;
border-radius:75px;
padding:10px;
font-size:1rem;
border:none;
color:black;
margin:5px;
font-family:cursive;
}
#f{
background:rgba(255,255,255,0.3);
box-shadow:2px 2px grey;
border-radius:5px;
text-align:center
}
#sidebar{
background:rgba(255,255,255,0.3);
border-radius:5px;
position:fixed;
left:-200px;
top:100px;
padding:10px;
transition:0.5s;
height:80%;
overflow-y:auto;
}
#sidebar::-webkit-scrollbar{
display:none;
}

.b0{
background:rgba(255,255,255,0.3);
border-radius:75px;
color:white;
font-size:2rem;
border:none;
}

.head{
color:white;
text-shadow:2px 2px grey;
text-align:center;
}


